GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID
NEXT_PUBLIC_BASE_API_URL_DEV=https://example.com/api
BASE_API_URL=https://example.com/api
NEXT_PUBLIC_BASE_API_URL_PROD=https://example.com/api
BASE_API_URL_PROD=https://example.com/api
SENTRY_AUTH_TOKEN=SENTRY_AUTH_TOKEN